ul {
    list-style:none;
    padding-left:0px;
}

input {
    border: 2pt solid;
    border-color: inherit;
}

.embedButton {
    background-color: transparent;
    color: inherit;
    border: 2pt solid;
}

.embedButton:hover {
    color: white;
    border-width: 2pt;
}

.insertButton {
    border-top-left-radius: 999em;
    border-bottom-left-radius: 999em;
    border-right-width: 0;
}

.insertButton:hover {
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.deleteButton {
    border-top-right-radius: 999em;
    border-bottom-right-radius: 999em;
    border-left-width: 0;
}

.deleteButton:hover {
    background-color: #d9534f;
    border-color: #d9534f;
}

.formHeading {
    background-color: transparent;
    color: #212121;
    border: 2pt solid #212121;
    height: 100%;
    border-radius: 999em;
}