ul {
    list-style:none;
    padding-left:0px;
}

/* =====Form Property===== */
.form-group {
    margin-bottom: 1em;
}

.form-group-margin {
    margin-bottom: 1em;
}

input {
    border: .1em solid;
    border-color: inherit;
    border-left-width: 0px;
    border-right-width: 0px;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
    border-top: .1em solid;
    border-bottom: .1em solid;
}

/* Change Placeholder hint text color */
::-webkit-input-placeholder { /* Chrome Safari*/
    color: #9e9e9e;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #9e9e9e;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #9e9e9e;
    opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
    color: #9e9e9e;
    opacity: 1;
}

.serious-margin-hack {
    margin-bottom: 2em;
}

.pad-hack {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 14pt;
}

/* =====Button Property===== */
.embedButton {
    background-color: transparent;
    color: inherit;
    border: .1em solid;
}

.embedButton:hover {
    color: white;
    border-width: .1em;
}

.embedButton:hover>i {
    -webkit-text-stroke: 0px white !important;
}

.embedButton:focus {
    outline: none !important;
    box-shadow: none !important;
}

.insertButton {
    border-top-left-radius: 999em;
    border-bottom-left-radius: 999em;
    border-right-width: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.insertButton:hover {
    background-color: #5cb85c;
    border-color: #5cb85c;
    border-right-width: 0;
}

.deleteButton {
    border-top-right-radius: 999em;
    border-bottom-right-radius: 999em;
    border-left-width: 0;
    padding-top: 0.15em;
    padding-bottom: 0.25em;
}

.deleteButton:hover {
    background-color: #d9534f;
    border-color: #d9534f;
    border-left-width: 0;
}

/* =====Property for 'One More' and 'Generate' button===== */
.formHeading {
    background-color: transparent;
    color: #212121;
    border: .1em solid #212121;
    border-radius: 999em;
    margin-bottom: 0;
}

.formHeading:hover {
    background-color: #212121;
    color: white;
}

.formHeading:disabled {
    background-color: transparent;
    color: #BDBDBD;
    border-color: #BDBDBD;
}

/* Disable highlight blue box after click */
.formHeading:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* =====Auto-complete Property===== */
/* I really don't know how to change this color dynamically */
.btn-info {
    background-color: #9E9E9E;
}

.btn-outline-info {
    color: #9E9E9E;
}

.btn-info,
.btn-outline-info {
    border-color: #9E9E9E; 
    border-radius: 0em;
    border-width: 0;
    width: 4.5em !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
}

.btn-outline-info:hover,
.btn-info:hover {
    background: #616161;
    border-color: #616161;
    border-width: 0;
    color: white;
} 

.btn-outline-info:focus,
.btn-info:focus {
    outline: none !important;
    box-shadow: none !important;
}

.ac-container {
    padding: 0;
    margin-left: 3.5em;
    margin-right: 3.5em;
    width: 80%;
    display: block;
}

.ac-row {
    margin: 0;
}