<form style="margin-bottom: 5em" [formGroup]="formModel">
    <div class="form-group">
        <div class="serious-margin-hack">
            <ul class="" formArrayName="classes">
                <li class="mb-3" *ngFor="let c of formModel.controls['classes'].controls; let i=index"> 
                    <div [style.border-color]="colorArray[i % colorArray.length]" class="input-group">
                        <span [style.color]="colorArray[i % colorArray.length]" class="input-group-btn">
                            <button (click)="insertCourse(i)"
                                class="insertButton btn my-0 embedButton pad-hack">
                                <i class="fa fa-plus"></i>
                            </button>
                        </span>
                        <input autocomplete="off" [style.color]="colorArray[i % colorArray.length]"
                         (keydown.tab)="fillWithFirst(c, i, $event)" (keydown.enter)="fillWithFirst(c, i, $event)"
                            placeholder="e.g. CS 225"
                            (focus)="showHints(c.value, i)" (blur)="hideHints($event, i)" type="text" id="_{{i}}"
                            name="_{{i}}" class="form-control d-inline pad-hack" [formControlName]="i">
                        
                        <span [style.color]="colorArray[i % colorArray.length]" class="input-group-btn">
                            <button (click)="oneMoreOrOneLess(i)"
                                class="deleteButton btn my-0 embedButton pad-hack">
                                <i class="fa fa-times"></i>
                            </button>
                        </span>
                    </div>
                    <!-- auto-complete -->
                    <div class="container ac-container">
                        <div class="row ac-row">
                            <div *ngFor="let hint of hints[i]; let j = index" class="col-xs-2">
                                <button (click)="fillOut(hint, i)" type="button" 
                                    [class.btn-outline-info]="j != 0" [class.btn-info]="j == 0"
                                    class="dontBlur btn btn-sm">
                                    {{hint}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end of auto-complete -->
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-sm-6 col-lg-12 mb-3">
                <button (click)="oneMoreOrOneLess(-1)" type="button" 
                class="btn btn-block formHeading pad-hack
                ">ONE MORE CLASS!</button>
            </div>
            <div class="col-sm-6 col-lg-12">
                <button (click)="generate()" type="button"
                [disabled]="freezeGenerateButton"
                class="btn btn-block formHeading pad-hack
                ">GENERATE A SCHEDULE!</button>
            </div>
        </div>
    </div>
</form>
<!-- morning/evening classes filter -->
<div class="pl-5 pr-5">
    <nouislider [config]="filterRangeConfig" [(ngModel)]="filterRange"></nouislider>
</div>