ul {
    list-style:none;
    padding-left:15px;
}

.md-form {
    margin-bottom: 0px;
}

.input-group-btn {
    padding-bottom: 2px;
    padding-top: 2px;
}

.deleteButton {
    border-radius: 100px;
    position: relative;
    top: 2px;
}

.formHeading {
    width: 100%;
    height: 100%;
    border-radius: 10000px;
}