<nav class="mb-3 navbar navbar-light blue lighten-2">
    <div class="row header">
        <div class="header-icon"><img class="img-fluid" src="assets/icon.svg"></div>
        <div class="header-brand">Schedule Builder</div>
        <!-- <span class="navbar-brand"></span> -->
    </div>
</nav>

<div class="container-fluid">
    <div class="row body-padding">
        <div class="col-lg-4 form-padding">
            <app-form [freezeGenerateButton]="freezeGenerateButton" (courses)="resetCourses($event)"></app-form>
        </div>
        <div class="col-lg-8 schedule-padding">
            <app-schedule [mode]="scheduleMode" [events]="events" [sections]="sections"></app-schedule>
        </div>
    </div>
</div>

<footer class="page-footer blue center-on-small-only lighten-2">
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="#"> uiuc-scheduler </a>
        </div>
    </div>
</footer>
