<nav class="mb-3 navbar navbar-light blue lighten-2">
    <span class="navbar-brand">Schedule Builder</span>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <app-form (courses)="resetCourses($event)"></app-form>
        </div>
        <div class="col-lg-8">
            <app-schedule [events]="schedule"></app-schedule>
        </div>
    </div>
</div>

<footer class="page-footer blue center-on-small-only lighten-2">
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="#"> xxx.com </a>
        </div>
    </div>
</footer>
