/* You can add global styles to this file, and also import other style files */
.fc-today {
    background: #FFF !important;
    border: none !important;
    border-top: 1px solid #ddd !important;
    font-weight: bold;
}

@import "~nouislider/distribute/nouislider.min.css";

/* this may screw up font-awesome icons for some reason without the "not" */
*:not(i) {
    font-family: 'Dosis', sans-serif !important;
    font-weight: 500 !important;
}

.btn {
    cursor: pointer !important;
}

i {
    -webkit-text-stroke: .1em white;
}

.fc * {
    border-color: #BDBDBD;
    border-width: .15em 0 .15em 0 !important;
}

/* Property of the header */
.ui-widget-header {
    background: none !important;
    vertical-align: middle !important;
    border-color: #BDBDBD;
    border-bottom-width: 0 !important;
    border-top-width: 0 !important;
    color: #BDBDBD !important;
}

/* Color of time */
.ui-widget-content {
    color: #BDBDBD !important;
}

/* Row Height */
.fc-agendaWeek-view tr {
    height: 2em !important;
}

/* Envent property */
.fc-event {
    border-radius: 1em;
    border-width: 0 !important;
    padding-top: .1em;
    padding-left: .5em;
    padding-bottom: .1em;
    padding-right: 0;
}

/* Property of the line at x hour 30 minutes */
.fc-time-grid .fc-slats .fc-minor td {
    border-top-style: solid !important;
    border-top-width: .075em !important;
}

/* Top line of the whole table */
.fc-head-container{
    border-top-width: .15em !important;
}

/* Tutorial formatting */
.theader {
    text-align: center;
    display: block;
    font-size: 1.5em;
    margin: .5em auto 1.5em auto;
}

.theader-left {
    color: #212121;
    padding-right: .1em;
}

.theader-right {
    font-weight: 400 !important;
    color: #616161; 
} 

.tcontent {
    padding-left: 10%;
    padding-right: 10%;
}

.tcontent-head {
    color: #616161;
    font-size: 1.2em;
    text-align: center;
    display: block;
    margin-bottom: .2em;
}

.tcontent-body {
    color: #9E9E9E;
    font-weight: 400 !important;
    font-size: 1em;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1.5em;
}

/* Main body padding */
.body-padding {
    padding-left: 2%;
    padding-right: 2%;
}

.form-padding,
.schedule-padding {
    padding-left: 1%;
    padding-right: 1%;
}

/* Header property */
.header {
    margin: 0;
    height: auto;
}

.header-icon {
    width: 2.5em;
    height: 2.5em;
    padding-left: 0em;
    vertical-align: center;
    color: #9E9E9E;
}

.header-brand {
    font-size: 1.75em;
    font-weight: 400 !important;
    padding-top: .05em;
    padding-left: .5em;
    vertical-align: middle;
    color: #212121;
}

.navbar {
    height: auto;
    margin-bottom: 2em !important;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 2em;
    padding-bottom: 0;
}